.quiz-container {
  max-width: 600px;
  margin: auto;
  height: 88.5vh;
  padding: 0 0.5rem;
}
.score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.question-container {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1.4rem;
}
.question-container > li {
  list-style: none;
}
.question-container > li > button {
  outline: none;
  border: none;
  width: 40%;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  text-align: start;
  background-color: #fff;
}
.question-container > li > button:hover {
  cursor: pointer;
  background-color: rgb(209, 208, 208);
}
.question-container > button {
  outline: none;
  border: none;
  width: 30%;
  margin: 2rem 0.5rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.question-container > button:hover {
  cursor: pointer;
  letter-spacing: 0.125rem;
}
